.contact {
  position: absolute;
  top: -430px;
  padding: 75px 70px;
  max-height: 430px;
  max-width: 380px;
  background: #c60b0b;
  color: #fff;
  text-align: center;
}
.contact a {
  display: block;
  color: #fff;
  margin-bottom: 45px;
}
.contact h2 {
  margin-bottom: 20px;
}
.contact p {
  margin-bottom: 45px;
}
.contact-footer {
  text-align: end;
}
.contact-footer a {
  color: #000000;
  text-decoration: none;
  font-weight: bold;
}
.contact-text {
  text-align: center;
  margin-top: 10px;
}
.footer {
  margin-top: 10px;
}
.footer img {
  display: inline-block;
}
.footer h5 {
  font-size: 16px;
}
